.archors{width: auto;
transition: all 1s;}

.archors:hover{
text-decoration: underline;
color: red;}

.carousel1{border: 3px solid blue;
    max-height: 30vh;
    width: 100%;
}

.carousel1 img{object-fit: cover;}

#div{display: flex;
flex-direction: column;}

