.archors{width: auto;
transition: all 1s;}

.archors:hover{
text-decoration: underline;
color: red;}

.border1912{border: 3vw solid grey}

.carousel1{height: 30vh;    
}

.carousel1 img{height: 100%;
        object-fit: fill;
}

.body{background-image: url(/resources//optional_banner_4.jpg);
background-size: cover;}

.bodyDetails{background-color: lightgrey;}





